.account .card {
    margin: 10px 0;
}
.account h1{
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.account .level-right .subtext{
    margin-bottom: 5px;
}
.account .subtitle.is-5{
    font-weight: 500;
}

.account .col.is-x .card{
margin-right: 10px;
}
.account .col.is-350 .card{
    margin-left: 10px;
}

.account .exchange-fees .level-left{
    padding-right: 10px;
}
.account .exchange-fees .level-right{
    padding-left: 10px;
}

.account .exchange-fees .level-progress{
    width: 100%;
    display: flex;
    margin-top: 5px;
    align-items: center;
    flex-direction: column;
}

.account .exchange-fees .level-progress .subtext{
    margin-top: 10px;
}
