$back_light_color: #fafafc;
$primary_color: #dc2955;
$regular_font_size: 14px;
$subtitle_font_size: 16px;

body {
  background-color: #F5F6F8;
  margin: 0;
  padding: 0;
  font-family: Inter;
}

body,
button,
th,
tr,
table {
  font-size: 12px;
}

.App {
  padding-top: 60px;
  padding-bottom: 100px;
}

select:focus {
  outline: none;
  border: 1px solid #0091ff;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
}

.light .card {
  background: #fff;
  border: 1px solid #d8d9e3;
  border-radius: 4px;
  overflow: hidden;
}

.card-content {
  padding: 15px;
}

.card-table {
  padding: 0;
  width: 100%;
  overflow-x: auto;
}

.card-table table {
  width: 100%;
  border-collapse: collapse;
}

.card-table tr {
  width: 100%;
}

.card-table table tr:first-child{
  background-color: #FFF !important;
}
.card-table table tr:hover {
  background-color: #0072ff1f;
}

.card-table tr:first-child,
.card-table tr:last-child {
  border-bottom: none;
}

.light .card-table tr {
  border-bottom: 1px solid #ebecf3;
}

.card-table tr th:first-child,
.card-table tr td:first-child {
  padding-left: 15px;
}

.card-table tr th:last-child,
.card-table tr td:last-child {
  padding-right: 15px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light .card-table th {
  color: #787ea1;
  font-size: 11px;
  padding: 10px 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: 500;
}

.card-table td {
  padding: 15px 5px;
  max-width: 100%;
  text-align: left;
  white-space: nowrap;
}

.light .card-header {
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #cccfe0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.row.reverse{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction:row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  width: 100%;
}

.row.middle{
  align-items: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.col.is-x{
  display: block;
  width: 100%;
}
.col.is-350{
  min-width: 350px;
  max-width: 350px;
}

.col.is-3{
  width: 33.33%;
}
.col.is-2{
  width: 50%;
}
.col.is-2:first-child{
  padding-right: 10px;
}
.col.is-2:last-child{
  padding-left: 10px;
}

.light .page-title{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.level {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.level .level-left {
  display: flex;
}

.level .level-right.ver{
flex-direction: column;
}
.level .level-left.ver{
  flex-direction: column;
}

.level .level-right.hor{
  flex-direction: row;
  }

  .level .level-right.hor.center{
align-items: center;
    }
.level .level-left.hor{
    flex-direction: row;
}


.level .level-right {
  display: flex;
}

.level-right{
  justify-content: right;
}

.level-right div {
  text-align: right;
}
.subtitle.is-3 {
  font-size: 18px;
  font-weight: 500;
}
.subtitle.is-4 {
  font-size: 16px;
  font-weight: 500;
}
.subtitle.is-5 {
  font-size: 13px;
  font-weight: 500;
}
.subtitle.is-6 {
  font-size: 12px;
  font-weight: 400;
}

.subheading{
  font-size: 13px;
  font-weight: 500;
  color: #787D9E;
}
.subheading.wsp{
  margin-top: 15px;
  margin-bottom: 5px;
}

.light .card-table .subtext{
  font-size: 11px;
  color: #787D9E;
}
.light .subtext {
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
  color: #787D9E;
}
.light .btn-link {
  font-weight: 600;
  display: block;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  color: #787ea1;
}
.light .btn-link i{
  padding-right: 5px;
}
.light .btn-primary{
  background: #DD2D4C;
  color: #FFF;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 400;
  font-size: 13px;
  border-radius: 2px;
}
.light .card-table .btn-line {
  font-size: 12px;
  padding: 2px 6px;
}
.btn-line.red{
border: 1px solid #DD2D4C;
background-color: #FDF3F4;
color: #DD2D4C;
cursor: pointer;
font-size: 14px;
outline: none;
padding: 5px 10px;
border-radius: 3px;
}
.btn-line.green{
  border: 1px solid #5FB41A;
  background-color: #F6FBF2;
  outline: none;
  cursor: pointer;
  color: #5FB41A;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
}

.btn-line i{
  padding-right: 5px;
}

.light .icon{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.light .progress-bar{
  width: 100%;
  height: 7px;
  background: #E6E7F2;
  border: 50%;
}

.light .progress-bar .progress.is-30{
  width: 30%;
  display: block;
  height: 7px;
}

.light .progress-bar .progress.yellow{
  background: #F7B500;
}
.light .progress-bar .progress.green{
  background: #5FB41A;
}

.light .info{
  background: #F3F4FA;
  color: #33385D;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.middle{
  align-items: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

// toogle button
.light .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ABB0CC;
  -webkit-transition: .4s;
  transition: .4s;
}

.light .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #DD2D4C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #DD2D4C;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
  width: 38px;
  height: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

.card.options .card-content{
  padding: 20px;
  border-bottom: 1px solid #D8D9E3;
}

.card.options .card-content:last-child{
  border-bottom: none;
}
label{
font-size: 12px;
font-weight: 400;
color: #787D9E;
margin-bottom: 5px;
display: flex;
}
.input-text,.input-auth{
  height: 40px;
  border: 1px solid #D8D9E3;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
}
.input-textarea{
  height: 120px;
  border: 1px solid #D8D9E3;
  border-radius: 3px;
  overflow: hidden;

}

.input-textarea textarea{
  border: none;
  height: 120px;
  width: 99%;
  font-size: 14px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
.input-text input{
  border: none;
  height: 36px;
  width: 99%;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
}
.input-auth input{
  border: none;
  height: 36px;
  width: 99%;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
}

input::placeholder {
  color: #D8D9E3;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #D8D9E3;
}

input::-ms-input-placeholder { /* Microsoft Edge */
 color: #D8D9E3;
}
.input-check {
  display: flex;
  position: relative;
  padding-left: 25px;
  margin-right: 10px;
  padding-top: 2px;
  height: 16px;
  align-items: center;
  cursor: pointer;
  font-size: 12px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.input-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border:2px solid #D8D9E3;
}

/* On mouse-over, add a grey background color */
.input-check:hover input ~ .checkmark {
  border-color: #DD2D4C;
}

/* When the checkbox is checked, add a blue background */
.input-check input:checked ~ .checkmark {
  background-color: #DD2D4C;
  border-color: #DD2D4C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.input-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.input-check .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text-right{
  text-align: right;
  padding-right: 10px;
}
.text-right a{
  text-decoration: underline;
  color: #787D9E;
  cursor: pointer;
}

.text-left{
  text-align: left;
  padding-right: 10px;
}
.text-left a{
  text-decoration: underline;
  color: #787D9E;
}

.subheader{
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 15px;;
  align-items: center;
}
.subheader .subheader-icon{
  display: flex;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
}
.subheader .subheader-icon:hover{
  background-color: #EAECF3;

}
.subheader .subheader-title{
  padding-left: 10px;
}

.input-select {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #D8D9E3 ;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 256 256' style='enable-background:new 0 0 256 256;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 ' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23ACB0CA'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .75em auto, 100%;
}
.input-select::-ms-expand {
  display: none;
}
.input-select:hover,.input-text:hover,.input-textarea:hover {
  border-color: #c73156;
  box-shadow: 0 0 0 2px rgba(221,45,76,0.2);

}
.input-select:focus {
  border-color: #c73156;
  box-shadow: 0 0 0 2px rgba(221,45,76,0.2);
  color: #222; 
  outline: none;
}
.input-select option {
  font-weight:normal;
}

.dialog-back{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(5,6,42,0.4);
  z-index: 600;
}

.dialog{
  width: 400px;
  background: #FFF;
  border-radius: 4px;
}
.dialog .dialog-header{
  padding: 10px 15px;
  border-bottom:1px solid #D8D9E3;
}
.dialog .dialog-content{
  padding: 15px;
}

.edit-icon{
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  margin-left: 20px;
  height: 20px;
  color:#787D9E;
  font-size: 14px;
  cursor: pointer;
}

.edit-icon:hover{
  background: #EAECF3;
}
.close-icon{
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  margin-left: 20px;
  height: 20px;
  color:#787D9E;
  font-size: 14px;
  cursor: pointer;
}

.close-icon:hover{
  background: #EAECF3;
}

.info-yellow{
  background-color: #FEF9EB;
  padding: 10px;
  color:#E6AC0D;
  font-size: 16px;

}
.info-yellow .subtext{
  color:#E6AC0D;
  margin-bottom: 0;
  padding-left: 10px;
}


@media only screen and (max-device-width: 480px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-table table {
    width: 100%;
    display: block;
    height: 200px;
    overflow: auto;
    border-collapse: collapse;
  }
}
