.security .card {
    margin: 10px 0;
}
.security h1{
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.security .auth .row .col:first-child{
    border-right: 1px solid #D8D9E3;
}
.security .auth .row .col:last-child{
    border-left: 1px solid #D8D9E3;
}

.security .options .card-content{
    padding: 20px;
    border-bottom: 1px solid #D8D9E3;
}

.security .options .card-content:last-child{
    border-bottom: none;
}

.security .options .level-right.hor.center .switch{
margin-left: 10px;
margin-right: 20px;
}